@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  color: white;
}

:root {
  --purple: #5280e2;
  --green: #15cdcb;
  --bg-dark: #212226;
  --light-grey: #15cdcb;
  --medium-grey: #2f3034;

  --menu-height: 75px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

p {
  color: var(--light-grey);
}

/*/ Formatação do CSS ATÉ AQUI./*/

button {
  background: var(--purple);
  border: 0;
  border-radius: 16px;
  padding: 8px 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.secondary-button {
  background: var(--medium-grey);
  border: 1px solid var(--purple);
  color: var(--green);
  font-weight: bold;
  height: 80px;

  display: flex;
  align-items: center;
}

.secondary-button img {
  margin-right: 15px;
}

.title-purple {
  color: var(--purple);
}

.title-green {
  color: var(--green);
}

header {
  height: calc(100vh - var(--menu-height));
  display: flex;
  align-items: center;
}

header .container {
  width: 50%;
  height: fit-content;
  padding: 0 100px;
}

header .container img {
  display: none;
}

header .container button {
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--menu-height);
  background: var(--bg-dark);
  padding: 0 100px;
  position: sticky;
  top: 0;

  z-index: 99;
}

nav img {
  height: 50px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  font-size: 24px;
  color: var(--green);
  text-decoration: none;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.about-me .img-container img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

nav ul a svg {
  display: none;
}

.about-me .img-container .line {
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  border: 1px solid var(--purple);

  position: absolute;
  top: -25px;
  left: calc(50% - 70% / 2 - 25px);
}

.about-me .img-container .line.green {
  transform: rotate(-3.3deg);
  color: var(--green);
}

/* SECTION SERVICES */
.services {
  text-align: center;
  margin: 150px 0;
  padding: 0 100px;
}

.services-container,
.portfolio-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto 0;
}

.services .services-container .service-card {
  max-width: 360px;
  background: #2f3034;
  border: 1px solid var(--purple);
  border-radius: 16px;
  padding: 40px 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.services .services-container .service-card img {
  margin-bottom: 40px;
  width: 90px;
}

.service-card + .service-card {
  margin-left: 10px;
}

/* SECTION PORTFOLIO */

.portfolio {
  padding: 0 100px;
  margin-bottom: 100px;
  text-align: center;
  background: url('assets/bg.png');
}

.portfolio .portfolio-container .portfolio-card {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);
  border: 1px solid white;
  border-radius: 16px;
  max-width: 360px;
  text-align: left;
  padding: 50px 25px;
}

.portfolio .portfolio-container .portfolio-card .img-container {
  margin: 0 25px 50px;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
  width: 100%;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 16px;
  padding: 3px 15px;
}

.portfolio-card .language-container ul li + li {
  margin-left: 10px;
}

.portfolio-card + .portfolio-card {
  margin-left: 10px;
}

.portfolio-card p {
  margin-left: 10px;
}

p {
  margin: 0;
}

/* SECTION CURRICULUM*/
.curriculum {
  padding: 0 100px;
  text-align: center;
}

.curriculum .container {
  display: flex;
  margin: 50px 0;
  max-width: 1200px;
}

.curriculum .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.curriculum .container .content .curriculum-info {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 1rem;
  margin-bottom: 50px;
}

/* RESPONSIVIDADE*/

/* Small Desktops */
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }

  nav ul a {
    font-size: 18px;
  }

  nav {
    padding: 0 40px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container,
  .about-me .img-container {
    width: 100%;
  }

  .about-me .container {
    padding-right: 0;
  }

  .about-me .img-container {
    margin: 70px 0;
  }

  .services,
  .portfolio {
    padding: 0;
  }

  .services .services-container,
  .portfolio .portfolio-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    height: 394px;
  }

  .service-card + .service-card,
  .portfolio-card + .portfolio-card {
    margin-left: 0px;
    margin-top: 30px;
  }

  .portfolio {
    height: 100%;
  }

  .services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
  }

  .services-container,
  .portfolio-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
  }

  .services .services-container .service-card {
    max-width: 360px;
    background: #2f3034;
    border: 1px solid var(--purple);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .services .services-container .service-card img {
    margin-bottom: 40px;
    width: 90px;
  }

  .service-card + .service-card {
    margin-left: 10px;
  }

  .portfolio {
    padding: 0 100px;
    margin-bottom: 100px;
    height: 800px;
    text-align: center;
    background: url('assets/bg.png');
  }

  .portfolio-container {
    margin-top: 130px;
  }

  .portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 255, 255, 0.33) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    border: 1px solid white;

    border-radius: 16px;
    max-width: 360px;
    text-align: left;
    padding: 50px 25px;
  }

  .portfolio .portfolio-container .portfolio-card .img-container {
    margin: 0 25px 50px;
    position: relative;
  }

  .portfolio .portfolio-container .portfolio-card .img-container img {
    width: 100%;
  }

  .portfolio-container .portfolio-card .img-container .line {
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    border: 1px solid var(--green);
    border-radius: 16px;
    transform: rotate(-1.93deg);

    position: absolute;
    top: -12px;
    left: calc(50% - 100% / 2 - 12px);
  }

  .portfolio .portfolio-container .portfolio-card .language-container {
    margin-bottom: 20px;
  }

  .portfolio .portfolio-container .portfolio-card .language-container ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .portfolio .portfolio-container .portfolio-card .language-container ul li {
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 16px;
    padding: 3px 15px;
  }

  .portfolio-card .language-container ul li + li {
    margin-left: 10px;
  }

  .portfolio-card + .portfolio-card {
    margin-left: 10px;
  }

  .portfolio-card p + p {
    margin-top: 10px;
  }

  .portfolio .portfolio-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-card + .portfolio-card {
    margin-left: 0;
    margin-top: 30px;
  }

  .portfolio {
    height: 100%;
  }

  .curriculum .container {
    flex-wrap: wrap;
  }

  .curriculum .container .curriculum-img {
    display: block;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 520px;
  }
}
/* tablet */
@media (max-width: 767px) {
  header .container img {
    display: inline;
    margin-bottom: 70px;
    padding: -50px;
    width: 150px;
  }

  nav {
    padding: 0 30px;
  }

  nav img {
    display: none;
  }

  nav ul {
    padding: 0;
  }

  nav ul a {
    font-size: 16px;
  }
}

/* Celular */
@media (max-width: 480px) {
  body {
    margin-bottom: calc(var(--menu-height) + 50px);
  }
  header .container {
    padding: 0 40px;
  }

  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    top: unset;
    padding: 0 15px;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }

  .about-me {
    padding: 40px;
  }

  .services {
    margin: 70px 0;
  }

  .services .services-container,
  .portfolio-container {
    padding: 0 20px;
  }

  .portfolio .portfolio-container {
    margin-top: 70px;
  }

  .portfolio {
    margin: 100px 0 50px;
  }

  .curriculum {
    padding: 0 20px;
  }

  .curriculum .container .content .curriculum-info {
    padding: 0 15px;
  }
}
